.gradle
.properties
Project.prj

bin

Reports
Plugins

Libs
Test Suites
Data Files
Checkpoints
Keywords
Test Listeners
TestOps
Include
Plugins

output

!output/.gitkeep
build

.classpath

.project
/bin/
/Libs/
/.settings/
/.classpath
.svn/